/*               DISCORD CUSTOM STYLING
 *  No copyright, but if you want to support me, please
 * credit me if you plan to modify this CSS and publish
 * the modified version!
 *
 *                     HOW TO USE
 * 1. Install Stylus (or any CSS injector)
 * 2. Copy and paste the CSS below and tell the injector
 *    to only use the CSS below for 'discord.com'
 * 3. Done!
 */
*, [class^="theme"] { 
  --background-primary: #09094d;
  --background-secondary: #101050;
  --background-secondary-alt: #050542;
  --background-tertiary: #121255;
  --background-accent: #0b5345;
  --background-floating: #21618c;
  
  --background-mobile-primary: var(--background-primary);
  --background-mobile-secondary: var(--background-secondary);
  
  --background-modifier-hover: #5dade250;
  --background-modifier-active: #5dade280;
  --background-modifier-selected: #138d758b;
  --background-modifier-accent: #138d758b;
  
  --text-normal: #bde6fc;
  --text-muted: #b5b5b5;
  --text-link: #f7dc6f;
	  --text-calm-white: #eaeded;
	
	--interactive-muted: #909497;
	
  --channeltextarea-background: var(--background-secondary-alt);
  --deprecated-quickswitcher-input-background: var(--background-secondary-alt);
  
  --font-code: 'Lucida Console', Inconsolata, Consolas, 'Courier New', Courier, monospace !important;
}

[class^="channelTextArea"] div { background-color: var(--background-secondary-alt) !important; }

[class*="Modal"], [class^="focusLock"] [class^="root"], [class^="focusLock"] [class^="modalRoot"], 
  [class^="focusLock"] [class^="header"] { background-color: var(--background-secondary) !important; }

[class*="footer"] { background-color: var(--background-tertiary) !important; }

[class*="tab"] { background-color: var(--background-primary); }

[class^="botTag"], [class^="headerBotTag"] { background-color: #b03a2e; } [class^="botTagVerified"] { background-color: #12bc35; margin-right: 5px; }

[class^="userLimit"] [class^="users"] { color: #e0e0e0; }
[class^="userLimit"] [class^="total"] { padding-left: 4px; width: auto; background-color: #239b56; color: var(--text-calm-white); }

[class^="markup"] [class^="syntaxBefore"] span, [class^="markup"] [class^="syntaxAfter"] span { color: #616a6b; }
[class^="markup"] [class^="bold"] span, [class^="markup"] [class^="italics"] span { color: #d2b4de !important; }

[class^="layer"] div { color: var(--text-calm-white); } 
[class*="modeMuted"] div { color: var(--interactive-muted); }
