/*               DISCORD CUSTOM STYLING
 *  No copyright, but if you want to support me, please
 * credit me if you plan to modify this CSS and publish
 * the modified version!
 *
 *                     HOW TO USE
 * 1. Install Stylus (or any CSS injector)
 * 2. Copy and paste the CSS below and tell the injector
 *    to only use the CSS below for 'discord.com'
 * 3. Done!
 */
*, [class^="theme"] { 
  --background-primary: #101053;
  --background-secondary: #12125a;
  --background-secondary-alt: #050542;
  --background-tertiary: #151560;
  --background-accent: #0b5345;
  --background-floating: #135175;
  
  --background-mobile-primary: var(--background-primary);
  --background-mobile-secondary: var(--background-secondary);
  
  --background-modifier-hover: #5dade265;
  --background-modifier-active: #5dade280;
  --background-modifier-selected: #043c45;
  --background-modifier-accent: #043c45;
  
  --text-normal: #cdeafd;
  --text-muted: #b5b5b5;
  --text-link: #f7dc6f;
	
	--interactive-normal: #e0e0e0;
	--interactive-hover: #fcf3cf;
  --interactive-muted: #626567;
	
  --channeltextarea-background: var(--background-secondary-alt);
  --deprecated-quickswitcher-input-background: var(--background-secondary-alt);
	
	--font-primary: 'Exo 2', 'Lucida Sans Unicode', sans-serif;
	--font-display: var(--font-primary);
	--font-headline: var(--font-primary);
  --font-code: 'Lucida Console', Inconsolata, Consolas, 'Courier New', Courier, monospace !important;
  
	text-rendering: geometricPrecision;
}

[id*="channels"] [class*="layout"]:hover,
[class*="membersWrap"] [class*="layout"]:hover,
[class*="containerDefault"] [class*="content"]:hover { 
	background-color: var(--background-modifier-hover);
	transition: 250ms ease-in-out;
}

[class*="focusLock"] [class*="root"], [class^="modal"] [class^="inner"] { background-color: var(--background-secondary) !important; }
[class*="focusLock"] h3 { color: var(--text-calm-white); }
[class*="footer"]:not(.3UKYOU) { background-color: var(--background-tertiary) !important; }

[class*="tab"] { background-color: var(--background-primary); }
[class*="tabBar"] { background-color: unset !important; }

[class*="botTag"], [class^="headerBotTag"] { background-color: #b03a2e; } 
[class*="botTagVerified"] { background-color: #12bc35; margin-right: 5px; }

[class*="userLimit"] [class*="users"] { color: #e0e0e0; } 
[class*="userLimit"] [class*="total"] { padding-left: 4px; width: auto; background-color: #239b56; color: var(--text-calm-white); }

[class*="flowerStarContainer"] { color: #235012 !important; }

[class^="markup"] [class^="syntaxBefore"] span, 
[class^="markup"] [class^="syntaxAfter"] span { 
	color: #616a6b; 
}

[class*="markup"] [class*="bold"] span, 
[class*="markup"] [class*="italics"] span, 
[class*="markup"] [class*="underline"] span, 
[class*="markup"] [class*="strikethrough"] span {
	color: #d2b4de !important;
}

[class*="markup"] [class*="codeBlockSyntax"] span,
[class*="markup"] [class*="inlineCode"] span {
	font-family: var(--font-code);
}

[class*="activityText"], [class*="customStatus"] { color: #fdd605 !important; }
[class*="activityText"] strong { color: #92ec95 !important; }



#channels [class*="channelName"], 
[id*="private-channels"] [class*="overflow"],
[class~="profileCard"] [class*="name"] { 
	font-size: 14px; 
}

[id*="settings-integrations-webhook"] { border-color: #f4d03f !important; }

/* WARNING: CLASS-NAME SPECIFIC ; MAY BREAK AFTER UPDATES */
.container-2ax-kl { text-transform: unset; font-size: 14px; }
